@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: ghostwhite;
  height: 100vh;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 2rem;
  background: linear-gradient(rgb(0, 0, 0), white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form {
  position: relative;
  font-size: 2rem;
  width: 50%;
  
}

.form input {
  width: 100%;
  height: 40px;
  color: rgb(160, 160, 160);
  font-size: 1rem;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(117, 115, 115);
  margin-top: 10px;
}

.to-btn {
  border: none;
  border-radius: 50px;
  padding: 5px 10px;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
}

.todo-con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.todo-list {
  width: 100%;
  list-style: none;
}

/* CSS JS */

.todo {
  margin: 50px;
  color: black;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;
  transition: all 10s ease;
}

.trash {
  
  width: 20%;
  height: 40px;
  cursor: pointer;
  border: none;
}

.todoItems {
  padding: 0.5rem;
}

.trash:active {
  opacity: 0.3;
}

.fa-trash-alt{

  pointer-events: none;

}
